body{
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    background-color: #fff;
}

/* Début: CSS Navbar */
.navbar{
    width: 100%;
    height: 114px;
    align-items: center;
    background-color: #fff;
    color: #000;
}

.navbar ul{
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
}
.nav-item{
    margin: auto 30px;
    font-size: 30px;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold !important;
}

.nav-item a{
    text-decoration: none;
    color: #000;
    transition: all 0.5s ease-out;
}

.nav-item a:hover{
    color: rgb(140, 197, 63);
    transition: all 0.5s ease-out;
}

.nav-item a::after{
    content: "";
    display: block;
    height: 0.1rem;
    background: rgb(140, 197, 63);
    transform: scale(0);
    
}

.nav-item a:hover::after{
    transform: scale(1);
    transform-origin: left;
    transition: transform 0.5s ease-out;
}

.logoNav{
    margin: auto 0;
    width: 164px;
    height: 99px;
    left: 7px;
    top: 8px;
}
.nav-item .logoNav{
    margin: auto 0;
}

#contact-item{
    margin-left: 43vw;
    border: 2px solid #000;
    padding: 10px;
    border-radius: 50px;
    transition: all 0.5s ease-out;
}

#contact-item:hover{
    background-color: rgb(140, 197, 63);
    transition: all 0.5s ease-out;
    border: 2px solid rgb(121, 123, 118);
    box-shadow: rgb(140, 197, 63);
}

#contact-item:hover a{
    color: #fff;
    transition: all 0.5s ease-out;
}

/* Fin: CSS Navbar */

.section{
    height: 100vh;
    display: flex;
    padding: 5rem;
}

.section:nth-child(3n+2){
    background-color: rgb(140, 197, 63);
}

#TitreAutoEcole{
    font-size: 50px;
    font-weight: bold;
    margin: auto 0;
}

.texteAutoEcole{
    width: 50%;
    /* border: 1px solid red; */
}

.imageAutoEcole{
    width: 50%;
    /* border: 1px solid red; */
}

.imageAutoEcole .img{
    width: 90%;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
}